body{
    background: url("img/grande_bibliothèque.jpg") no-repeat center center fixed; 
    background-size: cover;
    margin: 0;
    padding: 0;
}

#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

/* Bordered form */
form {
    color: #ffffff;
    border-radius: 3px;
    width:85%;
    padding: 30px;
    border: 1px solid #ffffff;
    background: #26495cef;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1{
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #e0a96d;
    color: #ffffff;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}
input[type=submit]:hover {
    background-color: #ffffff;
    color: #e0a96d;
    border: 1px solid #e0a96d;
    font-weight: bold;
    font-size: 15px;
}